[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = ">=1.2.0"
scikit-learn = "*"
numpy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
